MONGODB_URI=mongodb+srv://user:pass@../noteApp?retryWrites=true&w=majority&appName=Cluster0
TEST_MONGODB_URI=mongodb+srv://user:pass@../testNoteApp?retryWrites=true&w=majority&appName=Cluster0
PORT=3001